<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>Welcome to our community of changemakers!</h1>
        <p>Dear <%= @donor.first_name%>,</p>
        <p>Thank you for signing up to our donation platform aimed at empowering girls through improved menstrual health and sanitation. We are excited to have you on board and look forward to working together towards our shared vision of a world where all girls have access to the resources they need to thrive, with dignity and confidence.</p>
        <p>Your contributions, no matter how small, can make a significant difference in providing girls in underdeveloped regions with access to menstrual hygiene products, sanitation facilities, education, and clean water.</p>
        <p>As a member of our community, you will receive regular updates on our progress, impact stories, and exciting news. We encourage you to share our platform with your network to help us reach more changemakers.</p>
        <p>You can log into your new account <a src="/">here</a>.</p>
        <p>Thank you for joining us in this important mission.</p>

        <p>Best regards,<br>The Give Hope Team</p>

        <img src="https://github.com/astronaut-nemo/phase-5-sendgrid-test/blob/main/app/views/user_notifier_mailer/Email%20Banner.png?raw=true"/>
    </body>
</html>