<!DOCTYPE html>
<html>
  <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>

  <body>
        <p>Dear <%= @charity.name%>,</p>
    
        <p>We are excited to inform you that your application to Give Hope has been approved! We are thrilled to have your charity on board and we look forward to working with you to achieve our shared mission of empowering girls to live with dignity and confidence.</p>

        <p>You can now access the Give Hope platform using the same credentials you used to sign up. Simply go to our <a src="/">website</a> and log in to your account. Once you're in, you can edit your campaign, receive donations, and connect with supporters.</p>

        <p>If you have any questions or need assistance, don't hesitate to reach out to our team. We're here to help you make the most of Give Hope and achieve your fundraising goals.</p>

        <p>Thank you for being part of our community and for your commitment to making a difference in the world. We can't wait to see the impact your charity will have on those you serve.</p>

        <p>Warm regards,</p>
        <p>The Give Hope Team</p>
      <img src="https://github.com/astronaut-nemo/phase-5-sendgrid-test/blob/main/app/views/user_notifier_mailer/Email%20Banner.png?raw=true"/>
  </body>
</html>