<!DOCTYPE html>
<html>
  <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>

  <body>
        <p>Dear <%= @charity.name%>,</p>

        <p>We appreciate your interest in partnering with Give Hope to make a positive impact in our community. After careful review of your application, we regret to inform you that your organization does not meet our current criteria for acceptance.</p>

        <p>Please note that this decision is not a reflection of the worthiness of your cause or the work you are doing to make a difference. We understand the time and effort that goes into preparing an application and we thank you for considering Give Hope as a potential partner in your efforts.</p>

        <p>We encourage you to review our guidelines and requirements to ensure that your organization meets our current criteria. We welcome you to reapply in the future once you have addressed the issues identified.</p>

        <p>Thank you for your understanding and for your commitment to making a positive difference in our community.</p>

        <p>Best regards,</p>
        <p>The Give Hope Team</p>
      <img src="https://github.com/astronaut-nemo/phase-5-sendgrid-test/blob/main/app/views/user_notifier_mailer/Email%20Banner.png?raw=true"/>
  </body>
</html>