<!DOCTYPE html>
<html>
  <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title></title>
  </head>

  <body>
        <p>Dear <%= @charity.name%>,</p>

        <p>I am writing to inform you that we have received your application to join Give Hope, our online donation platform. We appreciate your interest in partnering with us to raise funds for your worthy cause.</p>

        <p>We will review your application carefully and get back to you within 5 working days to let you know if your organization has been accepted to the Give Hope platform. In the meantime, if you have any questions or concerns, please do not hesitate to reach out to us at <a href="mailto:givehopecharities@gmail.com">givehopecharities@gmail.com</a>.</p>

        <p>Thank you for your interest in Give Hope and for the important work you do to make a difference in the lives of others.</p>

        <p>Sincerely,</p>
        <p>The Give Hope Team</p>
      <img src="https://github.com/astronaut-nemo/phase-5-sendgrid-test/blob/main/app/views/user_notifier_mailer/Email%20Banner.png?raw=true"/>
  </body>
</html>