.hero-section{
  background-image: url("https://images.unsplash.com/photo-1544476301-66914d9e95aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
  height: 70vh;
  background-position: center;
  width: 100vw;
  /* margin-top: -250px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container1 {
text-align: center;
margin-left: 450px;
}
  .card-title{
  color: #9840D7;
  }
  
  .btn-primary{
  border-radius: 70px;
  background-color: #9840D7;
  margin-left: 10%;
  }
  
  .card-text{
  color: #3A1A52;
  }
  
  .card {
  margin: 15px;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  }
  
 
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .card {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  .card:hover {
    transform: translateZ(30px);
  }
  
  .card-image {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
  
  .card-text {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
  }
  
  .card-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .content-container {
    transition: all 0.2s ease-in-out;
  }
  
  .content-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }
  