.hero{
  background-image: url("/home/rx/coding Repo/PHASE5/CapStone-proj/client/src/components/DonorPage/photo-1584731683340-6495e2e103e9.avif");
  background-size: cover;
  height: 70vh;
  background-position: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .hero .container1 {
  text-align: center;
  margin-left: 10%;
  }
  
  .card-title{
  color: #9840D7;
  }
  
  .btn-primary{
  border-radius: 70px;
  background-color: #9840D7;
  margin-left: 10%;
  }
  
  .card-text{
  color: #3A1A52;
  }
  
  .card {
  margin: 15px;
  border-radius: 10px;
  }
  
  @media (min-width: 768px) { /* apply styles for screens larger than 768px */
  .hero .container1 {
  margin-left: 20%;
  }
  
  .btn-primary {
  margin-left: 20%;
  }
  }
  
  @media (min-width: 992px) { /* apply styles for screens larger than 992px */
  .hero .container1 {
  margin-left: 30%;
  }
  
  .btn-primary {
  margin-left: 30%;
  }
  }
  
  @media (min-width: 1200px) { /* apply styles for screens larger than 1200px */
  .hero .container1 {
  margin-left: 40%;
  }
  
  .btn-primary {
  margin-left: 40%;
  }
  }