/* LandingPage.css */

/* Styling for the hero section */

  
  
  .hero-section{
    background-image: url("https://images.unsplash.com/photo-1544476866-ce192b63bd7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1134&q=80");
    background-size: cover;
    filter: brightness(1.2);
    height: 70vh;
    background-position: center;
    width: 100vw;
    /* margin-top: -250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero .container1 {
  text-align: center;
  margin-left: 450px;
}
  
  .hero-card {
    /* width: 45%;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; */
    /* Text */

/* position: absolute; */
background: rgba(178, 165, 212, 0.77);
border-radius: 20px;
/* Put a smile on her face */

 position: absolute;
 /* position: fixed;  */
 width: 510px;
height: 400px;
left: 80px;
top: 250px;
padding-top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 8000;
font-size: 48px;
line-height: 60px;

color: #FFFFFF; 


  }
  
  .hero-card h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .hero-card-paragraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .hero-card-button {
    display: inline-block;
    background-color: #3A1A52;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .hero-card-button:hover {
    background-color: #9840D7;
  }
  
  /* Styling for the content section */
  .content-section {
    padding: 70px;
  }
  
  .content-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
    color: #3A1A52;
  }

  .content-section h3 {
    /* Empower girls with DIGNITY and CONFIDENCE. */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 29px;
    text-align: center;
    color: #3A1A52;
  }
  .container1{
    width: 300px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .mission-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .mission-card {
 /* position: absolute; */
        width: 350px;
        height: 340px;
        gap: 40px;
        background: #FFFFFF;
        border: 1px solid #3A1A52;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        box-sizing: border-box;
    
      }
  
  .mission-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .mission-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
    /* .mission-icon1 {
    background-image: url('https://www.figma.com/file/qz7bc0jCmThGqHCM91dR8s/Capstone-Donation-Project?node-id=42-173&t=Lq9Vaw9gdUWsfuhD-4');
  } */
  
  /* .mission-icon2 {
    background-image: url('path/to/mission-icon2.svg');
  }
  
  .mission-icon3 {
     background-image: url('path/to/mission-icon3.svg'); 
  }   */ */
  .mission-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:#3A1A52;
    font-weight: 400;
    
  }
  
  .mission-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #9840D7;
    font-weight: 500;
  }
  
  .fight-button {
    background-color: #9840D7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 60px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .fight-button:hover {
    background-color: #9840D7;
  }
  
  /* Styling for the causes section */
  .causes-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #B2A5D4;
    
  }
  .causes-section {
    padding: 100px;
  }
  .causes-section h2 {
    /* OUR CAUSES */
    padding-right: 450px;
    padding-left: 500px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    color: #f8f5fb;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
  }
  .causes-section h3 {
    /* Your donation makes a difference. See our charities -> */
    padding-bottom: 100px;
    padding-right: 500px;
    padding-left: 450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #f8f5fb;
    
  }
  .causes-card {
   width: 400px;
   height: 400px;
   gap: 40px;
   background: #FFFFFF;
   border: 1px solid #3A1A52;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 20px;
   box-sizing: border-box;
  }

  .causes-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .causes-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    color: #9840D7;
  }
  
  .causes-text {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #3A1A52;
    font-family: 'Inter';
  }
  
  .causes-button {
    background-color: #9840D7;
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .causes-button:hover {
    background-color: #9840D7;
  }
/*   
  @media screen and (max-width: 768px) {
    .causes-card {
      width: 45%;
    }
  } */
  .charities-container {
    display: flex;
    flex-direction: column;
  }
  