<h1>Editing administrator</h1>

<%= render "form", administrator: @administrator %>

<br>

<div>
  <%= link_to "Show this administrator", @administrator %> |
  <%= link_to "Back to administrators", administrators_path %>
</div>
