.beneficiary-form{
    position: absolute;
    width: 600px;
    height: 640px;
    left: 510px;
    top: 120px;
    bottom: 30px;

   
   
   
}

.beneficiary-form-input {

    width: 400px;
    height: 47px;
    left: 54px;
    top: 52px;
    bottom: 0px;
    margin-top: 20px;


}



.beneficiary-form-input-description {
    /* position: absolute; */
    width: 400px;
    height: 150px;
    left: 97px;
    top: 502px;
    margin-top: 20px;

}

.submit-button {
    background-color: #9c27b0;
    color: #fff;
    padding: 10px 20px;
  
  
  }
  .submit-button:hover {
    color: #4955b2;
  }
.text-part-left {
    position: absolute;
    width: 439px;
    height: 400px;
    left: 0px;
    top: 120px;

}



h3 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 39px;

    color: #9840D7;
}

.first-paragraph {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;


color: #3A1A52;
}

li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;

    color: #310b4e;
}