.hero-image {
  background-image: url("./images/backg.jpg");
  background-size: cover;
  background-position: center;
  width: 120vw;
  height: 80vh;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #f2f2f2;
  padding: 600px;
  padding-bottom: 40px;
  padding-top: 8px;
}
.hero-card {
background: rgba(178, 165, 212, 0.77);
border-radius: 20px;

position: absolute;
width: 510px;
height: 400px;
left: 1000px;
top: 250px;
padding-top: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 8000;
font-size: 48px;
line-height: 60px;
color: #FFFFFF; 
}

.hero-card h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-card-paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-card-button {
  background-color: #9840D7;
  color: #ffffff;
  border: none;
  padding: 1px 15px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.hero-card-button:hover {
  background-color: #9840D7;
}


/* .hero .container1 {
  text-align: center;
  margin-left: 450px;
  margin-top: 100px;
  width:30vh;
  height:50vh;

} */
/* .text2{
  font-size:small;
} */
.text1 {
  font-size: 20px;
  line-height: 1.5;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-title{
    color: #9840D7;
  }
  .btn-primary{
    border-radius: 70px;
    background-color: #9840D7;
    margin-left: 80px;
  }
  .card-text{
    color: #3A1A52;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  }
  .card {
    margin-bottom: 15px;
    border-radius: 10px;
  }
 .hero2 h1{
  color: #3A1A52;
  font-size: 30px;
  font-weight:bolder;
 }
.hero h1{
  color: white;
  font-weight: bolder;
}
.text1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero2{
  width: 900px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
  
/* text overflow property */
