.charity-form {
    position: absolute;
    width: 600px;
    height: 550px;
    left: 510px;
    top: 100px;

    background: #B2A5D4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.charity-form-input {

    width: 450px;
    height: 47px;
    left: 54px;
    top: 12px;
    bottom: 0px;
    margin-top: 20px;


}


.charity-form-input-description {
    /* position: absolute; */
    width: 450px;
    height: 100px;
    left: 97px;
    top: 502px;
    margin-top: 20px;
}

.submit-button {
    /* position: absolute; */
    width: 256px;
    height: 62px;
    left: 64px;
    top: 472px;
    color: #3A1A52;
}

.left-side-text {
    position: absolute;
    width: 439px;
    height: 50px;
    left: 0px;
    top: 200px;


}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;

    color: #9840D7;

}

.edit-sentence{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #3A1A52;
}