.container-fluid {
    background-color: #B2A5D4;
    /* height: 20px; */
    font-size: 35px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-block: 70px;
    width: 100vw;
  }
 
  
  h1 {
    color: #8869DB;
    font-size: 24px;
  }
  
  .form-control {
    background-color: #fff;
    color: #000;
  }
  form{
    padding:60px;
    background-color: #B2A5D4;
    border-radius: 20px;
    height:550px
}

  .btn-primary {
    margin-top: 20px;
    float: left;
    background-color:#342854;
    color:white;
    width:200px;
  }
  .col {
    text-align: left;
  }
 
  body {
    overflow-x: hidden;
  }
  
 