footer {
    background-color: #3A1A52;;
    color: white;
    padding: 40px;
     position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  
  .logo-container img {
    height: 0px;
    margin-right: 20px;
  }
  
  .logo-container p {
    position: absolute;
    width: 557px;
    height: 120px;
    left: 30px;
    top: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 19px;

    color: #FFFFFF;


  }
  
  .logo-container a {
    color: white;
    text-decoration: underline;
  }
  
  .contact-container h3 {
    font-size: 10px;
    margin-bottom: 20px;
  }
  
  .contact-container p {
    margin: 0;
    font-size: 10px;
    line-height: 1.4;
  }
  
  .contact-container a {
    color: white;
    text-decoration: underline;
    font-size: 10px;
  }