.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f6fa;
 
  
}


.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 50px;
}

.navbar img {
  position: absolute;
  top: 5;
  left: 0;
  width: auto;
  height: 70px; /* Adjust the height of the logo image as needed */
  margin-right: 10px; /* Add some space between the logo and the home link */
}


.navbar-buttons button {
  margin-left: 20px;
  border: none;
  border-radius: 66px;
  font-weight: bold;
  cursor: pointer;
}

.donate-button {
  background-color: #9c27b0;
  color: #fff;
  padding: 10px 20px;
}

.login-button {
  background-color: #9c27b0;
  color: #fff;
  padding: 10px 20px;


}
.login-button:hover {
  color: #4955b2;
}

/* Make the navigation links stack vertically for small screens */
@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar li {
    margin: 10px 0;
  }
}

/* Adjust the padding and margin of the navigation links */
.navbar li {
  margin: 0 10px;
  padding: 10px;
}

/* Set the background color and text color of the active navigation link */
.navbar li.active {
  background-color: #6b7280;
  color: #fff;
}

/* Add hover styles to the navigation links */
.navbar li:hover {
  background-color: #d1d5db;
}


/* For medium devices */
@media screen and (max-width: 768px) {
    .header{
        top: initial;
        bottom: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;

    }

    /* Show Menu */
    .show-menu {
        bottom: 0;
    }

    .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav_close:hover {
        color: var(--title-color-dark);

    }

    .nav_toggle {
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle {
        display: block;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .nav_menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav_list {
       column-gap: 0; 
    }
  }