/* Set default font family and color for the entire form */
.auth-wrapper {
    font-family: Arial, sans-serif;
    color: #555;
  }
  
  /* Style the registration form container */
  .auth-inner {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the form title */
  .registration-form h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  /* Style the radio buttons */
  .registration-form input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Style the input fields */
  .registration-form input[type="text"],
  .registration-form input[type="email"],
  .registration-form input[type="password"],
  .registration-form input[type="Charity Name"],
  .registration-form input[type="Contact Email"],
  .registration-form input[type="Goal Amount"],
  .registration-form input[type="Banner Image URL"],
  .registration-form input[type="Charity Description"],
  .registration-form input[type="url"],
  .registration-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f9f9f9;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Style the button */
  .registration-form button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  .registration-form button[type="submit"]:hover {
    background-color: #2e8b57;
  }
  
  /* Style the forgot password link */
  .forgot-password {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .forgot-password a {
    color: #555;
  }
  
  .forgot-password a:hover {
    color: #000;
    text-decoration: none;
  }
  
  /* Style the form inputs for the charity fields */
  .registration-form input[type="number"] {
    width: 150px;
  }
  
  .registration-form textarea {
    height: 150px;
  }
  
  /* Style the form inputs for the donor fields */
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f9f9f9;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
  }
  