<h1>Editing beneficiary</h1>

<%= render "form", beneficiary: @beneficiary %>

<br>

<div>
  <%= link_to "Show this beneficiary", @beneficiary %> |
  <%= link_to "Back to beneficiaries", beneficiaries_path %>
</div>
